@import url(reset.css);

:root {
    --color-primary: #0B164A;   /* тёмно-синий */
    --color-accent:  #A0883F;   /* золотой акцент */
    --color-muted:   #CCCCCC;   /* светло-серый */
    --color-bg:      #FFFFFF;   /* фон */
    --color-text:      #FFFFFF;   /* фон */
    --color-blacktext:    #000000;   /* основной текст */
}

.darktheme {
    --color-primary: #E0E4FF;   /* светло-голубой для текста/акцентов */
    --color-accent:  #D4B95F;   /* золотой, чуть светлее для тёмного фона */
    --color-muted:   #666666;   /* тёмно-серый для разделителей */
    --color-bg:      #0B0B1A;   /* почти чёрный фон с оттенком синего */
    --color-text:    #F5F5F5;   /* основной текст (почти белый) */
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a { 
    text-decoration: none;
    color: var(--color-text);
}

li:hover > a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
}

.header {
    background: none;
    position: absolute;
}

nav {
    display: flex;
}

.btn {
    padding: 10px 20px;  
    border: 1px solid var(--color-primary);
    background: none;
    font-weight: bold;
    color: var(--color-primary);
    transition: 0.2s;
    border-radius: 20px;
}

.btn:focus, .btn:hover, .btn:active {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-text);
    
}

.btn-fill {
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-text);
    font-weight: bold;
    transition: 0.2s;
    border-radius: 20px;
}

.btn-fill:focus, .btn-fill:hover, .btn-fill:active {
    background: none;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.header__container {
    display: flex;
    flex-flow: row nowrap;
    width: 1440px;
    justify-content: space-between;
    padding: 12px 0;
}

.header__container > a {
    display: flex;
}

.header__container-logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
    color: var(--color-text);
    text-transform: uppercase;
}

.header__container-logo > img {
    width: 48px;
    height: 48px;
}

.header__container-logo > h3:hover {
    color: var(--color-accent);
    transition: 0.2s;
}

.header__container-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    padding: 0;
    align-items: center;
}

.header__container-links > li, .header__container-links > li > a {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
}

.header__container-links > li, .header__container-links > li:hover > a:hover {
    color: var(--color-accent);
    text-decoration: none;
    transition: 0.2s;
}

.header__container-language {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

.header__container-language > a {
    padding: 5px;
}

.header__container-language > a:hover {
    color: var(--color-accent);
}

.lang.active {
    border: 1px solid var(--color-accent);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(assets/main-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.main__container {
    width: 1440px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.main__container-prev {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main__container_prev-info {
    width: 1440px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main__container_prev-info_text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
    width: 720px;
    text-align: center;
    color: var(--color-text);
}

.main__container_prev-info_text > h1 {
    font-size: 24px;
    font-weight: bold;
}

.main__container_prev-info_img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    color: var(--color-accent);
}

.main__container_prev-info_img > img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: var(--color-primary);
    width: 100%;
    color: var(--color-text);
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    flex-flow: column nowrap;
    width: 1440px;
    padding: 0;
}

.footer__container-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-text);
    text-wrap: balance;
}

.footer__container-row_links {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 0;
    align-items: center;
}

.footer__container-row_links > li, .footer__container-row_links > li > a {
    text-decoration: none;
    list-style-type: none;
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 16px;
}

.footer__container-row_social {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}

.footer__container-row_social > a > img {
    width: 2rem;
    height: 32px;
    color: var(--color-text);
    transition: transform 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.footer__container-row_social > a > img:hover {
    filter: opacity(80%);
    transform: scale(1.1) translateY(-10px);
}

.footer__container-legal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px 0;
}

.footer__container-legal > a {
    color: var(--color-muted);
}

.footer__container-legal > a:hover {
    color: var(--color-text);
    transition: 0.3s;
}

.terms { 
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.terms__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.terms__container-text {
    width: 960px;
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 48px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 12px;
    gap: 12px;
}

.terms__container-text > h1 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-accent);
    padding: 0 0 18px 0;
    margin: 0;
}

.terms__container-text > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    font-family: sans-serif;
}

.primacy { 
    display: flex;
    flex-flow: column nowrap;
}

.primacy__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.primacy__container_info {
    width: 960px;
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 48px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 12px;
    gap: 12px;
}

.primacy__container_info > h1 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-accent);
    padding: 0 0 18px 0;
    margin: 0;
}

.primacy__container_info-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.primacy__container_info-text > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    font-family: sans-serif;
}

.primacy__container_info-text > div > h2 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.data { 
    display: flex;
    flex-flow: column nowrap;
}

.data__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.data__container_info {
    width: 960px;
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 48px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 12px;
    gap: 12px;
}

.data__container_info > h1 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-accent);
    padding: 0 0 18px 0;
    margin: 0;
}

.data__container_info-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.data__container_info-text > div > h2 {
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
}

.data__container_info-text_welcome {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.data__container_info-text_accept {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.data__container_info-text_accept > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.data__container_info-text_accept > div > h2 {
    font-size: 16px;
    font-weight: bold;
}

.data__container_info-text_accept > div > p {
    font-size: 14px;
}